body {
    /* find a honey comb for that background*/
    background-color: rgb(30, 30, 30);
    /* just a placeholder */
    background-image: url();
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.general-div {
    margin: 0px auto 0px auto;
    width: 690px;
    max-width: 690px;
    /* find something for this poor too above*/
    background-color: white;
    padding: 10px 30px;
}

.center {
    text-align: center;
}

.section-2 {
    margin-top: 2cm;
}

footer {
    margin-top: 25px;
    padding: 0.5cm 1cm;
    background-color: black;
    color: aliceblue;
}

.right-links {
    float: right;
}

.white-links {
    color: white;
}

.form-1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}