body {
    background-color: rgb(30,30,30);
    color: white;
}

.general-div {
    padding: 0.5cm 5cm;
}

.center {
    text-align: center;
}

.section-2 {
    margin-top: 2cm;
}

footer {
    margin-top: 25px; padding: 0.5cm 1cm; background-color: black; color: aliceblue;
}

.float-right {
    float: right;
}

.white-links {
    color: white;
}

.form-1 {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}